{% macro matches_table(matches, show_edit=False, show_delete=False) %}
    <div class="table-responsive mt-4">
        <table class="table table-hover table-bordered align-middle text-center">
            <thead class="table-light">
                <tr>
                    <th scope="col">Opponent</th>
                    <th scope="col">Location</th>
                    <th scope="col">Timestamp</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for match in matches %}
                <tr>
                    <td>{{ match.opponent }}</td>
                    <td>{{ match.location }}</td>
                    <td>
                        {{match.timestamp.strftime("%Y-%m-%d %H:%M") if match.timestamp else "N/A" }}
                    </td>
                    <td class="d-flex justfiy-content-center gap-2 flex-wrap">
                        <a href="{{ url_for('match', id=match.id) }}" class="btn btn-sm btn-outline-info">View</a>
                        {% if show_edit %}
                            <a href="{{ url_for('match_form', match_id=match.id) }}" class="btn btn-sm btn-outline-secondary">Edit</a>
                        {% endif %}
                        {% if show_delete %}
                        <form action="{{ url_for('delete_match', match_id=match.id) }}" method="POST" onsubmit="return confirmDelete(event);">
                            <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}